<h1>Add a Song</h1>
<%= form_for(new_billboard_artist_song_path, class: "ui form") do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
    <br />
    <%= f.label :avatar %>
    <%= f.text_field :avatar, placeholder: "Type something here..." %>
    <br />
    <%= f.label :length %>
    <%= f.text_field :length %>
    <br />
    <%= f.submit nil, class: "ui button blue" %>
<% end %>