<h1 class="ui header">Billboards</h1>
<%= link_to 'Create a new Billboard', new_billboard_path %>
<div class="ui divider"></div>

<div class="ui grid">
    <% @billboards.each do |billboard| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <div class="ui card">
            <div class="image">
                <img src="https://robohash.org/<%= billboard.avatar %>?set=set2" />
            </div>
            <div class="content">
                <%= link_to "#{billboard.name}", billboard, class: "header" %>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic green button">
                        <%= link_to 'Edit', edit_billboard_path(billboard) %>
                    </div>
                    <div class="ui basic red button">
                        <%= link_to 'Destroy', billboard, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
